# Here you can see queries with especially long duration
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 8

# log-queries-not-using-indexes
# min_examined_row_limit = 1000

# Query logging
#general_log=1
#general_log_file=/var/log/mysql/mysql-query-log.log

