[server]
# Added 8/11/2016 by FJG to remove "ONLY_FULL_GROUP_BY." The rest of these were configured by default
# so I have left them be.
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
